<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
      
            <div class="header">
              <h4 class="title">Customers</h4>
            </div><br>
  
          <input 
            ngModel 
            #query
            name="search" 
            type="text" class="form-control" placeholder="Search..."
            style="margin:5px;"
            (keyup)="filter(query.value)"
          >
          <br>
          <data-table
            [items]="items"
            [itemCount]="itemCount"
            (reload)="reloadCustomers($event)"
          >
            
            <data-table-column
              [header]="'Name'"
              [property]="'name'"
              [sortable]="true"
              [resizable]="true"
            >
            </data-table-column>

            <data-table-column
              [header]="'Gst No'"
              [property]="'gstNo'"
              [sortable]="true"
              [resizable]="true"
            >
            </data-table-column>
  
           <data-table-column
              [header]="'Phone Nos'"
              [property]="'phone1'"
              [sortable]="true"
              [resizable]="true"
            >
            <ng-template #dataTableCell let-item="item">
              {{item.phone1 + ', ' + item.phone2}}
            </ng-template>
            </data-table-column>
  
            <data-table-column
              [header]="'Address'"
              [property]="'address'"
              [sortable]="true"
              [resizable]="true"
            >
            <ng-template #dataTableCell let-item="item">
              {{item.address + ', ' + item.area + ', ' + item.city + ', ' + item.state + ', ' + item.pincode}}
            </ng-template>
            </data-table-column>
  
            <data-table-column
              [header]="'Currect Balance'"
              [property]="'currentBalance'"
              [sortable]="true"
              [resizable]="true"
            >
            </data-table-column>
  
            <data-table-column
              [property]="'id'"
            >
              <ng-template #dataTableCell let-item="item">
                <a 
                  (click)="editCustomer(item.id)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                &nbsp;
                <a 
                  rel="tooltip" 
                  title="Remove" 
                  style="color: #EE2D20;"
                  (click)="deleteCustomer(item.id)">
                    <i class="fa fa-times"></i>
                </a>
              </ng-template>
            </data-table-column>
  
            <!-- <data-table-column
              [property]="'id'"
            >
              <ng-template #dataTableCell let-item="item">
                  
              </ng-template>
            </data-table-column> -->
          </data-table>
          <br><br><br>
        </div>
      </div>
    </div>
  </div>
  