<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
      
            <div class="header">
              <h4 class="title">Invoices</h4>
            </div><br>
  
          <input 
            ngModel 
            #query
            name="search" 
            type="text" class="form-control" placeholder="Search..."
            style="margin:5px;"
            (keyup)="filter(query.value)"
          >
          <br>
          <data-table
            [items]="items"
            [itemCount]="itemCount"
            (reload)="reloadInvoices($event)"
            (rowClick)="printInvoice($event)"
          >
            
            <data-table-column
              [header]="'Invoice No'"
              [property]="'invoiceNo'"
              [sortable]="true"
              [resizable]="true"
            >
            </data-table-column>
  
            <data-table-column
                [header]="'Date'"
                [property]="'invoiceDate'"
                [sortable]="true"
                [resizable]="true"
            >
            </data-table-column>

            <data-table-column
              [header]="'Customer'"
              [property]="'customerName'"
              [sortable]="true"
              [resizable]="true"
            >
            </data-table-column>
  
            <data-table-column
              [header]="'Amount'"
              [property]="'invoiceAmt'"
              [sortable]="true"
              [resizable]="true"
            >
            </data-table-column>
  
            <data-table-column
              [property]="'invoiceNo'"
            >
              <ng-template #dataTableCell let-item="item">
                <a 
                  (click)="editInvoice(item.invoiceNo)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                &nbsp;
                <a 
                  rel="tooltip" 
                  title="Remove" 
                  style="color: #EE2D20;"
                  (click)="deleteInvoice(item.invoiceNo)">
                    <i class="fa fa-times"></i>
                </a>
              </ng-template>
            </data-table-column>
  
            <!-- <data-table-column
              [property]="'id'"
            >
              <ng-template #dataTableCell let-item="item">
                  
              </ng-template>
            </data-table-column> -->
          </data-table>
          <br><br><br>
        </div>
      </div>
    </div>
  </div>
  