<div class="main-content">
  <div class="container-fluid">
      <div class="row" >
          <div style="margin:10px" class="card col-md-5">
              <div class="header">
                  <h4 class="title">Assets</h4>
              </div>

              <div class="col-md-9">
                <br><br>
                <h6><u>Current Assets</u></h6><br>
                cash<br>
                supplies<br>
                Prepaid building rent <br>

                <br><br><br>
                <h6><u>Intangible Assets</u></h6><br>
                Goodwill<br>
                Patents<br>
              </div>

              <div class="col-md-3">
                <br><br>
                <!-- <h6><u>Amt.</u></h6><br> -->
                <br><br>
                156000<br>
                210005<br>
                80150 <br>

                <br><br><br><br>

                860<br>
                785 <br>

                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              </div>
          </div>
          <div style="margin:10px" class="card col-md-5">
              <div class="header">
                  <h4 class="title">Liabilities</h4>
              </div>

              <div class="col-md-9">
                  <br><br>
                  <h6><u>Liabilities</u></h6><br>
                  Notes Payble<br>
                  Accounts Payble<br>
                  Salaries Payble <br>
                  Service Revenue <br>

                  <br><br><br>
                  <h6><u>Royalties</u></h6><br>
                  Payble<br>
                  Reserve against returns<br>
                </div>
  
                <div class="col-md-3">
                  <br><br>
                  <!-- <h6><u>Amt.</u></h6><br> -->
                  <br><br>
                  156000<br>
                  210005<br>
                  80150 <br>
                  52000 <br><br><br><br><br>

                  860<br>
                  785 <br>

                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                  
                </div>
          </div>
      </div>
  </div>
</div>

