<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="content">
    
          <div class="header">
            <h4 class="title">Accounts</h4>
          </div><br>

        <input 
          ngModel 
          #query
          name="search" 
          type="text" class="form-control" placeholder="Search..."
          style="margin:5px;"
          (keyup)="filter(query.value)"
        >
        <br>
        <data-table
          [items]="items"
          [itemCount]="itemCount"
          (reload)="reloadAccount($event)"
        >
          
          <data-table-column
            [header]="'Name'"
            [property]="'name'"
            [sortable]="true"
            [resizable]="true"
          >
          </data-table-column>

          <data-table-column
            [header]="'Group'"
            [property]="'ac_grp_name'"
            [sortable]="true"
            [resizable]="true"
          >
          </data-table-column>

          <data-table-column
            [header]="'Description'"
            [property]="'description'"
            [sortable]="true"
            [resizable]="true"
          >
          </data-table-column>

          <data-table-column
            [header]="'GST No'"
            [property]="'gst_no'"
            [sortable]="true"
            [resizable]="true"
          >
          </data-table-column>

          <data-table-column
            [header]="'Date'"
            [property]="'date_since'"
            [sortable]="true"
            [resizable]="true"
          >
          </data-table-column>

          <data-table-column
            [header]="'Amount'"
            [property]="'amount'"
            [sortable]="true"
            [resizable]="true"
          >
          <ng-template #dataTableCell let-item="item">
            {{'&#x20b9;' + item.amount}}
          </ng-template>
          </data-table-column>
<!--
          <data-table-column
            [property]="'entity_id'"
          >
            <ng-template #dataTableCell let-item="item">
              <a 
                (click)="editAccount(item.entity_id)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              &nbsp;
              <a 
                rel="tooltip" 
                title="Remove" 
                style="color: #EE2D20;"
                (click)="deleteAccount(item.id)">
                  <i class="fa fa-times"></i>
              </a>
            </ng-template>
          </data-table-column>
-->
          <!-- <data-table-column
            [property]="'id'"
          >
            <ng-template #dataTableCell let-item="item">
                
            </ng-template>
          </data-table-column> -->
        </data-table>
        <br><br><br>
      </div>
    </div>
  </div>
</div>