<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="content">
    
          <div class="header">
            <h4 class="title">Accounts</h4>
          </div><br>

        <input 
          ngModel 
          #query
          name="search" 
          type="text" class="form-control" placeholder="Search..."
          style="margin:5px;"
          (keyup)="filter(query.value)"
        >
        
        <br><br><br>
        
        <table class="table table-striped">
          <tr>
           <!-- <th><button (click)='deleteentity()' type="button" class="btn btn-danger">Delete all</button></th> -->
            <th scope="col">Name</th>
             <th scope="col">DEsc</th>
            <th scope="col">Gst no</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
          </tr>
          <tr *ngFor="let item of allEntity">
           <!-- <td><input type="checkbox" (change)="addarr(item)"></td>-->
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{item.gst_no}}</td>
          <td>{{item.ac_gropup_name}}</td>

        <td><!--<button  type="button" class="btn btn-danger">-->
      <span (click)='deleteentity(item)' class="glyphicon glyphicon-trash" aria-hidden="true"  style="color:rgb(248, 12, 12);"></span></td>
      
      <td><!--<button  type="button" class="btn btn-success">-->
      <span (click)=' updateEntity(item)' class="glyphicon glyphicon-pencil" aria-hidden="true" style="color:rgb(7, 250, 19);"></span></td>
         </tr>
        </table>

       
          
       
        <br><br><br>
      </div>
    </div>
  </div>
</div>