<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
      
            <div class="header">
              <h4 class="title">Banks</h4>
            </div><br>
  
          <input 
            ngModel 
            #query
            name="search" 
            type="text" class="form-control" placeholder="Search..."
            style="margin:5px;"
            (keyup)="filter(query.value)"
          >
          <br>
          <data-table
            [items]="items"
            [itemCount]="itemCount"
            (reload)="reloadBanks($event)"
          >
            
            <data-table-column
              [header]="'Name'"
              [property]="'name'"
              [sortable]="true"
              [resizable]="true"
            >
            </data-table-column>
  
            <data-table-column
              [header]="'AC No'"
              [property]="'account_no'"
              [sortable]="true"
              [resizable]="true"
            >
            </data-table-column>
  
            <data-table-column
              [header]="'gstNo'"
              [property]="'gst_no'"
              [sortable]="true"
              [resizable]="true"
            >
            </data-table-column>
  
            <data-table-column
              [header]="'BSR Code'"
              [property]="'bsrcode'"
              [sortable]="true"
              [resizable]="true"
            >
            </data-table-column>
  
            <data-table-column
              [header]="'Address'"
              [property]="'addressline'"
              [sortable]="true"
              [resizable]="true"
            >
            <ng-template #dataTableCell let-item="item">
              {{item.addressline + ', ' + item.city_name + ', ' + item.state_name + ', ' + item.pincode}}
            </ng-template>
            </data-table-column>
  
            <data-table-column
              [header]="'Date Since'"
              [property]="'date_since'"
              [sortable]="true"
              [resizable]="true"
            >
            </data-table-column>

            <data-table-column
              [header]="'Balance'"
              [property]="'amount'"
              [sortable]="true"
              [resizable]="true"
            >
            <ng-template #dataTableCell let-item="item">
              {{'&#x20b9;' + item.amount}}
            </ng-template>
            </data-table-column>
  
           <!-- <data-table-column
              [property]="'bank_id'"
            >
              <ng-template #dataTableCell let-item="item">
                <a 
                  (click)="editBank(item.bank_id)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                &nbsp;
                <a 
                  rel="tooltip" 
                  title="Remove" 
                  style="color: #EE2D20;"
                  (click)="deleteBank(item.bank_id)">
                    <i class="fa fa-times"></i>
                </a>
              </ng-template>
            </data-table-column>-->
  
            <!-- <data-table-column
              [property]="'id'"
            >
              <ng-template #dataTableCell let-item="item">
                  
              </ng-template>
            </data-table-column> -->
          </data-table>
          <br><br><br>
        </div>
      </div>
    </div>
  </div>
  