<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Details</h4>
            </div>
            <div class="content">
                <form #f="ngForm" (ngSubmit)="onAdd()">
                    <div class="row">
                        <!--name-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>A/c Name *</label>
                                <input required type="text" name="name" [(ngModel)]="name" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <!--account group(dropdown)-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Account Group *</label>
                                <br>
                                <!---<ng-select2 ngModel
                                    required
                                    name="ac_grp_name" 
                                    [data]="acGroup" 
                                    [options]="options" 
                                    [width]="238" 
                                    id="group_id" 
                                    style="width:100% !important">
                                </ng-select2>-->

                                <div class="input-group">
                                   
                                    <!--<input type="number" name="fk_rest_id" [(ngModel)]="fk_rest_id" />-->
                                    <select class="form-control" id="fk_group_id" 
                                  [(ngModel)]="fk_group_id" name="fk_group_id"
                                  required style="width:150%;">
                                  <option *ngFor="let s of acGroup" [value]="s.group_id">{{s.ac_grp_name}}</option>
                                  </select> 
                                  </div>


                                
                            </div>
                        </div>


                       
                        
                    </div>

                    <div class="row">
                        <!--description(textarea)-->
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" placeholder="Desc." name="description" [(ngModel)]="description">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!--Amount-->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Amount *</label>
                                <input required type="text" class="form-control" placeholder="Amt" name="amount" [(ngModel)]="amount">
                            </div>
                        </div>
                    <!--Date-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control" placeholder="" name="date_since" [(ngModel)]="date_since">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!--gst number-->
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>GST No.</label>
                                <input type="text" class="form-control" placeholder="000000000000000" name="gst_no" [(ngModel)]="gst_no">
                                
                            </div>
                        </div>
                    </div>
                    <!--submit button-->
                    <div class="row">
                        <div class="col-md-7">
                            <button type="submit" class="btn btn-default btn-fill pull-right">&nbsp;&nbsp;Add&nbsp; &nbsp;</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>  
                </form>
            </div>
        </div>
    </div>

</div>
