<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!--Tabs Start-->
          <ul role="tablist" class="nav nav-tabs">
            <li role="presentation" class="active">
              <a href="#icon-account #add-voucher" data-toggle="tab">
                <i class="fa fa-user"></i> Add Voucher Entry</a>
            </li>
            <li>
              <a href="#icon-style #view-voucher" data-toggle="tab">
                <i class="fa fa-user"></i> View Voucher</a>
            </li>
          </ul>
          <!--Tab End-->
  
          <!--Content Start-->
          <div class="tab-content">
  
            <div id="add-voucher" class="tab-pane active">
              <add-voucher></add-voucher>
            </div>
            
            <!--add Product page-->
            <div id="view-voucher" class="tab-pane">
              <view-vouchers></view-vouchers>
            </div>
          </div>
          <!--Content End-->
        </div>
  
      </div>
    </div>
  </div>