<!-- <div class="main-content"> -->
  <!-- <div class="container-fluid"> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="content">
            <form ngNativeValidate #productForm="ngForm" (ngSubmit)="onUpdate()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Product Name</label>
                    <input required [(ngModel)]="product_name" name="product_name" type="text" class="form-control" placeholder="Name" value="">
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <label>HSN Code</label>
                        <input required [(ngModel)]="hsncode" name="hsncode" type="number" class="form-control" placeholder="00000000" value="">
                      </div>
                    </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Company</label>
                   <!-- <ng-select2
                      required  
                      ngModel 
                      name="companyName" 
                      [value]="companyId"
                      [data]="companies" 
                      [options]="options" 
                      [width]="240" id="company" 
                      style="width:100% !important"
                      (valueChanged)="companyValueChanged($event)">
                    </ng-select2>-->
                    <div class="input-group">
                                   
                      <!--<input type="number" name="fk_rest_id" [(ngModel)]="fk_rest_id" />-->
                      <select class="form-control" id="fk_company_id" 
                    [(ngModel)]="fk_company_id" name="fk_company_id"
                    required style="width:190%;">
                    <option *ngFor="let s of company" [value]="s.company_id">{{s.name}}</option>
                    </select> 
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Product Type</label>
                  <!--  <ng-select2
                      required
                      ngModel 
                      name="productType" 
                      [value]="prodTypeId"
                      [data]="productTypes"
                      [options]="options"
                      [width]="240 "  
                      id="company"
                      style="width:100% !important"
                      (valueChanged)="companyValueChanged($event)" >
                    </ng-select2>-->
                    <div class="input-group">
                                   
                      <!--<input type="number" name="fk_rest_id" [(ngModel)]="fk_rest_id" />-->
                      <select class="form-control" id="fk_product_type_id" 
                    [(ngModel)]="fk_product_type_id" name="fk_product_type_id"
                    required style="width:125%;">
                    <option *ngFor="let s1 of protype" [value]="s1.product_type_id">{{s1.product_type_description}}</option>
                    </select> 
                    </div>
                  </div>
                </div>
              </div>
             

             

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>stock</label>
                    <input required [(ngModel)]="stock" name="quantity" type="text" class="form-control" placeholder="How many Mtr/Pcs..." value="">
                  </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                      <label>Re-Order Level</label>
                      <input required [(ngModel)]="reorder_level" name="reorder_level" type="text" class="form-control" placeholder="Value">
                    </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <label>Rate (per unit)</label>
                        <input required [(ngModel)]="price" name="productPrice" type="text" class="form-control" placeholder="Price(₹)" value="">
                      </div>
                    </div>
              </div>
              <div class="col-md-6">
                <button type="submit" class="btn btn-default btn-fill pull-right">Update</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>


    </div>
  <!-- </div> -->
<!-- </div> -->