<!-- <div class="main-content">
  <div class="container-fluid"> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Voucher</h4>
          </div>
          <div class="content">


            <form ngNativeValidate #f="ngForm" (ngSubmit)="onAdd()">
              <div class="row">
                
                <!--date of voucher-->
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Date *</label>
                    <input required [(ngModel)]="date" name="date" type="date" class="form-control" placeholder="" value="">
                  </div>
                </div>
              </div>

              <div class="row">
                <!--from specific account(dropdown)-->
                <div class="col-md-12">
                  <div class="form-group">
                    <label>From *</label>
                    <br>
                    <select class="form-control" id="from_id" 
                    [(ngModel)]="from_id" name="from_id"
                    required style="width:50%;">
                    <option *ngFor="let s of ac_master_dropdowm,let h of dropdown_name" [value]="s.account_id">{{h.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <!--to specific account(dropdown)-->
                <div class="col-md-12">
                  <div class="form-group">
                    <label>To *</label>
                    <br>
                    <select class="form-control" id="to_id" 
                    [(ngModel)]="to_id" name="to_id"
                    required style="width:50%;">
                    <option *ngFor="let s of ac_master_dropdowm,let h of dropdown_name" [value]="s.account_id">{{h.name}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                  <!--to specific account(dropdown)-->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Amount *</label>
                      <input required class="form-control" [(ngModel)]="amount" type="number"  name="amount">
                    </div>
                  </div>
                </div>


              <div class="row">
                <!--cash/cheque-->
                <div class="col-md-4">
                  <div class="form-group">
                    <input required [(ngModel)]="cash_cheque" type="radio" name="cash_cheque" data-toggle="radio" id="optionsRadios1" value="cash" checked> Cash &nbsp; &nbsp;
                    <input required [(ngModel)]="cash_cheque" type="radio" name="cash_cheque" data-toggle="radio" id="optionsRadios2" value="cheque"> Cheque

                    <input [disabled]="isChequeNoDisabled()" name="voucherChequeNo" type="text" class="form-control" placeholder="Cheque Number" value="">
                  </div>
                </div>
              </div>


              <!--submit button-->
              <button type="submit" class="btn btn-default btn-fill pull-right">Add</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>


    </div>
  <!-- </div>
</div> -->