<!-- <div id="add-type" class="tab-pane"> -->
    <div class="card">
      <div class="content">
        <form ngNativeValidate #productForm="ngForm" (ngSubmit)="onAdd()">
          <div class="row">
            <!--Product type description-->
            <div class="col-md-5">
              <div class="form-group">
                <label>Product Type</label>
                <input type="text" required [(ngModel)]="product_type_description" name="product_type_description" class="form-control" placeholder="Value" value="">
              </div>
            </div>
          </div>



          <div class="row">
            <!--meter/quantity-->
            <div class="col-md-5">
              <div class="form-group">
                <input  type="radio" name="m" [(ngModel)]="meter_qty"  data-toggle="radio" id="optionsRadios1" value="m" checked>
                <i></i>Meter &nbsp; &nbsp;
                <input  type="radio" name="q" [(ngModel)]="meter_qty" data-toggle="radio" id="optionsRadios2" value="q">
               <i></i>Quantity

              <!--  <textarea placeholder="description" rows="3"  class="form-control" placeholder="Here can be your description" value=""> </textarea>-->
                
            <!--  <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">QUANTITY:</span>
                <input type="text"   name="meter_qty" [(ngModel)]="meter_qty" />
              <datalist id="meter_qty">
                <option>m</option>
                <option>q</option>
                
              </datalist>
              </div> -->

              </div>
            </div>
          </div>
          <div class="col-md-5">
            <button type="submit" class="btn btn-default btn-fill pull-right">Add</button>
          </div>
          <div class="clearfix">

          </div>
        </form>
      </div>
    </div>
  <!-- </div> -->
