<!-- <div id="add-type" class="tab-pane"> -->
    <div class="card">
      <div class="content">
        <form>
          <div class="row">
            <!--Product type description-->
            <div class="col-md-5">
              <div class="form-group">
                <label>Product Type</label>
                <input type="text" class="form-control" placeholder="Value" value="">
              </div>
            </div>
          </div>



          <div class="row">
            <!--meter/quantity-->
            <div class="col-md-5">
              <div class="form-group">
                <input type="radio" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1" checked>
                <i></i>Meter &nbsp; &nbsp;
                <input type="radio" name="optionsRadios" data-toggle="radio" id="optionsRadios2" value="option1">
                <i></i>Quantity

                <textarea placeholder="description" rows="3" class="form-control" placeholder="Here can be your description" value=""> </textarea>
                
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <button type="submit" class="btn btn-default btn-fill pull-right">Add</button>
          </div>
          <div class="clearfix">

          </div>
        </form>
      </div>
    </div>
  <!-- </div> -->
